.card > img {
  width: 200px;
  flex-grow: 1;
  object-fit: cover;
  border-radius: 16px;
  height: 200px;
}

.card {
display: flex;
flex-direction: column;
justify-content: space-between;
margin: 36px;
box-shadow: 0 0 16px rgba(0,0,0,0.5);
width: 200px;
border-radius: 16px;
}

.card > p {
  margin: 36px 0;
  padding: 36px 0;
}

.cards {
margin: 36px;
}
